<h1>Welcome to HOWTO</h1>
<p>
    To get started, please provide your credentials.
    They're sent to your confirmation e-mail.
</p>

<form action="/enter" method="post">
    <p>
        <label for="email">Your e-mail address</label>
        <input autofocus required type="email" name="email" id="email">
    </p>

    <p>
        <label for="password">Your password</label>
        <input required type="password" name="password" id="password">
    </p>

    <p class="submit">
        <input type="submit" value="Sign in">
    </p>
</form>
