<p>
  Hi,
</p>

<p>
  Your subscription is confirmed. You can access this presentation
  by going to the link below:
</p>

  <a href="<%- config.baseUrl %>attend/<%- attendee.id %>">
    <%- config.baseUrl %>attend/<%- attendee.id %>
  </a>

<p>
  Any problem, just send us an e-mail.
</p>

<p>
  Take care,
</p>

<p>
  --
  HOWTO Team
</p>
